<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" context="text/html; charset=utf-8" />
<title>Github Repository Name Generator</title>
</html>
<body>
<form id="name-param-form" method="post" action="process-param">
<p>
<label>How long do you want the name?</label></p><input type="number" min="1" max="5" step="1" value="3" name="length"/></p>
<label>What do you want to seperate the words?</label></p><input type="text" value="-" name="seperator"/></p>
<input type="submit" value="Give me Ideas!"/>
</form>
</body>
</html>
